<!--Menú-->
<div id="header">
    <ul class="nav">
        <li><a id="menut"><img src="../assets/cloud2.png" alt="alternatetext" id="menu"><b>Menú</b><i class="material-icons" id="menul">menu</i></a>
        </li>
    </ul>
</div>

<!--Opciones del menú-->
<div class="row">
    <div class="col s2 m2 l2">
            <div class="container" id="menuopciones">
                    <p id="inicio"><a routerLink='home'  id="inicioa">Inicio</a></p>
                    <p id="registro"><a routerLink='registro' id="registroa">Resgistro de Temperaturas</a></p>
            </div>
    </div>
    <!--Registro de temperatura-->
    <div class="col s10 m10 l10">
        <div class="container" id="grafico">
            <h4><b id="graficoT">Gráfica de temperaturas</b></h4>
            <!--Parte Logica-->
            
        </div>
    </div>
</div>
